


<!-- Banner -->
<div class="banner">
  <div class="banner-content" style="background-image: linear-gradient(-100deg, rgba(200,245,255,0.4) 0%, rgba(200,125,155,0.3) 0%), url('<%= image_path 'bar.jpg'%>');">
    <div id="header"><h2>Welcome to Mister Cocktail</h2></div>
  </div>
</div>

<!-- New Cocktail -->
<%= link_to "Create a new Cocktail", new_cocktail_path, class: "btn btn-success" %>

<!-- Grid -->
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-sm-3">
      <% if cocktail.photo == nil %>
      <% photo_url = 'drink.jpg' %>
      <% else %>
      <% photo_url = cl_image_path cocktail.photo.path, height: 180, width: 240, crop: :fill %>
      <% end %>
      <%= link_to(cocktail_path(id: cocktail.id)) do %>
      <div class="card">
       <div class="card-head" style="background-image: url(<%= image_path photo_url %>)">
         <%= cocktail.name %>
       </div>
       <div class="card-footer">
         <div class="ingredients">
           <p>Number of ingredietns:</p>
           <p>#<%= @cocktails.find(cocktail.id).ingredients.count %></p>
         </div>
         <div class="actions">
          <p class="delete"> <%= link_to 'Delete', cocktail_path(cocktail), method: :delete %> </p>
         </div>
       </div>
     </div>
     <% end %>
   </div>
   <% end %>
 </div>
</div>







